<section class="feedback">
  <div class="container">
        <h2 class="feedback__title">Відгуки Клієнтів</h2>
    <p class="feedback__subtitle">Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі</p>
    <div class="feedback__slider">
      <div class="feedback__wrapper swiper">
        <ul class="feedback__list swiper-wrapper"></ul>
        <div class="feedback__pagination swiper-pagination"></div>
      </div>
      <div class="feedback__buttons">
        <button class="feedback__btn feedback__btn--prev" type="button" aria-label="Попередній відгук">
          <svg class="feedback__icon"><use href="./img/sprite.svg#arrow-left"></use></svg>
        </button>
        <button class="feedback__btn feedback__btn--next" type="button" aria-label="Наступний відгук">
          <svg class="feedback__icon"><use href="./img/sprite.svg#arrow-right"></use></svg>
        </button>
      </div>
    </div>
  </div>
</section>
