<section class="feedback">
  <div class="container">
     <div class="containerLitle">
      <h2 class="feedback-title section-title">Відгуки Клієнтів</h2>
      <p class="feedback-subtitle text">
        Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі
      </p>
    </div>
    <div class="feedback-swiper swiper">
      <ul class="feedback-list swiper-wrapper"></ul>
    </div>
    <div class="feedback-pagination">
      <button class="feedback-btn feedback-prev" type="button">
        <svg class="feedback-icon" width="24" height="24" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.20694 12.8359L3.91394 8.54294H13.4999V6.54294H3.91394L8.20694 2.24994L6.79294 0.835938L0.0859375 7.54294L6.79294 14.2499L8.20694 12.8359Z" fill="#080C09" />
        </svg>
      </button>
      <ul class="feedback-pagination-list"></ul>
      <button class="feedback-btn feedback-next" type="button">
        <svg class="feedback-icon" width="24" height="24" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.793 12.8359L7.207 14.2499L13.914 7.54294L7.207 0.835938L5.793 2.24994L10.086 6.54294H0.5V8.54294H10.086L5.793 12.8359Z" fill="#080C09" />
        </svg>
      </button>
    </div>
  </div>

</section>
