/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./about-us.css');
@import url('./fag.css');
@import url('./feedback.css');
@import url('./furniture-detail.css');
@import url('./furniture-list.css');
@import url('./hero.css');
@import url('./order-modal.css');
@import url('./footer.css');
